<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <br>
    <div class="col-md-8 offset-2">
        <div class="card">
            <h4 class="card-header"><label>&nbsp;&nbsp;Appointment Request made
                </label></h4>
            <div class="card-body">
                <table class="table"  style=font-size:115%; *ngIf="app != null  else elseBlock">

                    <thead>
                        <tr>
                            <th scope='col'>Appointment No.</th>
                            <th scope='col'>User Id</th>
                            <th scope='col'>Diagnostic Test</th>
                            <th scope='col'>Diagnostic Center</th>
                            <th scope='col'> Status</th>
                            <th scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let apps of app">
                            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{apps.appointmentId}} </td>
                            <td> {{apps.userId}} </td>
                            <td> {{apps.test}} </td>
                            <td> {{apps.center}} </td>
                            <td> {{apps.approved}} </td>
                            <td>
                                <button class="btn btn-large btn-block btn-primary" value="Appointments"
                                    (click)="onClick(apps)"> Confirm Appointment </button>
                            <td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<ng-template #elseBlock>
    <h5> No Appointments have been scheduled! </h5>