
<body>
<app-header></app-header>
    <router-outlet></router-outlet>
<!-- <div [ngStyle]="{'background': 'url(https://media.istockphoto.com/videos/circle-audio-equalizer-background-music-control-levels-multicolored-video-id919960584?s=640x640)'}"> -->
    <footer>
    <div class="mini-footer" >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>
                    <br>
                    <br>
                    <br>
                    <br>
                  <a href="/login">Health Care Management System</a>. 
                  <br>
                  All rights reserved by
                  <a href="https://www.capgemini.com/in-en/">ABS ! Capgemini © 2020</a>
                  <br><br>
                </p>
              </div>
    
              <div class="go_top">
                <span class="icon-arrow-up"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
<!-- </div> -->
</body>