<html>

<head>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    div.relative {
      position: relative;
      left: 50px;
    }
  </style> -->
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
    div.relative {
      position: initial;
      left: 50px;
    }
  </style>
</head>

<br>

<body>
  <div class="col-md-12 offset-12">
    <div class="card">
      <h4 class="card-header"><label>Add Test</label></h4>
      <div class="card bg-dark text-white">
      <div class="card-body">
        <form>
          <div>
            <label for="centreName">Center Name:</label><br>
            <!-- dropdown -->
            <select name="centreName" [(ngModel)]="user.centreName">
              <option *ngFor="let cl of centersList" value={{cl}}>
                {{cl}}
              </option>`
            </select>
          </div>
          <br>
          <label for="centreName">Test Name:</label>
          <div class="form-group">
            <input type="text" [(ngModel)]="user.testName" placeholder="Enter Test Name" name="testName"
              class="form-control" id="testName" #testName="ngModel" required name="testName"
              class="form-control col-md-8" id="testName">
            <div *ngIf="testName.errors  && testName.dirty && testName.touched" class="alert alert-danger">
              <div [hidden]="!testName.errors.pattern"> only characters are allowed</div>
              <div *ngIf="testName.errors.required">Test Name is required</div>
            </div>
          </div>
          <br><br>
          <button class="btn btn-primary" style="font-size:16px" (click)="createTest()"> Submit 
            <i class="fa fa-medkit"></i></button>
        </form>
      </div>
      </div>
    </div>
  </div>
</body>
<footer><br><br><br><br>
</footer>